body {
  font-family: "Noto Serif", serif;
  margin: 0px;
}

@media only screen and (max-width: 400px) {
  body {
    width: 1800px;
  }
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  padding-inline-start: 0px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 10px auto;
}

.navbar img {
  display: block;
  height: 100px;
}

.navbar a {
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  text-decoration: none;
  border-radius: 4px;
  margin: auto;
  color: black;
}

.reimg {
  background-image: url(../img/lab1.jpg);
  background-size: cover;
  height: 300px;
}

.primg {
  background-image: url(../img/hand.jpg);
  background-size: cover;
  height: 300px;
}

.puimg {
  background-image: url(../img/book.jpg);
  background-size: cover;
  height: 300px;
}

.grimg {
  background-image: url(../img/group.jpg);
  background-size: cover;
  height: 300px;
}

.gaimg {
  background-image: url(../img/gal.jpg);
  background-size: cover;
  height: 300px;
}

.coimg {
  background-image: url(../img/con1.jpg);
  background-size: cover;
  height: 300px;
}

.title {
  margin: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
}

.index-content {
  padding: 30px;
  background-image: url(../img/intro1.png);
  background-size: cover;
}

.subtitle {
  margin: auto;
  width: 800px;
  height: 100%;
  border-radius:50px;
  padding: 20px;
  background-color: rgba( 255, 255, 255, 0.7 );
}

.content-more {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(12, 8, 22, 0.4) 0 0px 0px 2px inset;
  border-radius: 4px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 50px;
  line-height: 50px;
}

.research-item li {
  padding-left: 10px;
  list-style: none;
}

.mb-button {
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px;
}

.selected {
  text-decoration: underline;
}

.content-more:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(3, 2, 7, 0.7) 0 0px 0px 40px inset;
}

.research-item {
  width: 1000px;
  margin: auto;
}

.research-item ul{
  display: flex;
}

.research-item li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.prof {
  margin-left: 30%;
  width: 50%;
  white-space: nowrap;
}

.prof td {
  padding-right: 30px;
  vertical-align: top;
  white-space: nowrap;
}

.pr-name {
  font-size: 24px;
  font-weight: bold;
}

.pr-info {
  line-height: 1.6;
}

.subti {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.year {
  text-align:center;
  font-size: 38px;
  font-weight: bold;
}

.ze {
  margin: auto;
  font-size: 16px;
  margin-top: 10px;
  width: 1150px;
  word-break: keep-all;
}

.ze li {
  list-style: none;
}

.ts ul{
  line-height: 500px;
}

.num {
  font-weight: bold;
  color: crimson;
}

.pic-wrapper {
  margin: auto;
  width: 90%;
  text-align: center;
}

.pic img {
  height: 330px;
  max-width: 550px;
}

.pic {
  margin: 20px;
  display: inline-block;
  text-align: center;
  min-width: 600px;
}

.contact-wrap {
  width: 50%;
  margin:auto;
  white-space: nowrap;
}

.contact-wrap table {
  margin: 20px 0px;
}

.contact-wrap td {
  vertical-align: top;
}

.mb-sel {
  text-align: center;
}

.mb-wrap {
  margin: auto;
  text-align: center;
}

.member {
  display: inline-block;
  margin: auto;
  min-width: 550px;
  vertical-align: top;
}

.member table {
  margin: 20px;
}

.member img {
  width: 180px;
}

.member td {
  padding:10px;
  text-align: left;
  line-height: 1.5;
  vertical-align: top;
}

.member-name {
  font-size: 24px;
  font-weight: bold;
}

.r-context {
  width: 800px;
}

.footer {
  margin: 20px 5%;
}

.footer-content {
  width: 100%;
}

.footer-content > img {
  float: left;
}

.footer-info p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  white-space: nowrap;
}
